.page-break {
    height: 1pt;
    width: 90%;
    color: #707070;
    opacity: 0;
    animation: views 1s;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
/* .page-break-vert {
    opacity: 0;
    height: 100%;
    width: 1px;
    color: #707070; 
    animation: views 1s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} */
.Profile {
    height: 37.5em;
    width: 25em;
    top: 15%;
}
.Picture {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 5%;
    animation: views 1s;
    animation-iteration-count: 1;
    transform-style: preserve-3d;
}
.Top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    /* left: -20%;
    top: -20%; */
    align-items: center;
}
.vert-line {
    width: 1px;
    height: 37.5em;
    background: #707070;
    display: flex;
    position: relative;
    /* left: -10%; */
    /* top: 2px; */
    left: 8em;
    opacity: 0;
    animation: views 1s;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Content {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10em;
    /* left: 0%; */
}
.About-Me {
    opacity: 0;
    /* font-size: 35pt; */
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: auto; */
    animation: views 1s;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.short-bit {
    opacity: 0;
    animation: views 1s;
    animation-delay: .4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    top: 5em;
    /* font-size: 20px; */
    font-size: 1.4em;
}
@keyframes views {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#line-2{
    width: 55em;
    overflow: auto;
}
#line-4{
    display: flex;
    flex-direction: row;
    position: relative;
    /* top: -8em; */
}
#education{
    margin-right: 4em;
}
#educationTitle{
    font-weight: bold;
}
#interestsTitle{
    font-weight: bold;
}
.lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lowbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* align-items: center; */
    justify-content: center;
}
.lowbar-item {
    opacity: 0.2;
    font-family: 'Segoe UI', sans-serif;
    color: #707070;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* left: 10px; */
    align-items: center;
    /* left: -35%; */
    top: 3em;
    /* transform: translate(7%, 10%); */
    opacity: 0;
    animation: views 1s;
    animation-delay: .6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-right: 5em;
}
.lowbar-item-hov:hover {
    opacity: 1;
    text-decoration: underline;
    transform: scale(1.1);
    transition-duration: .5s;
}
#learn {
    font-weight: bold;
    right: 5em;
}
/* #exper {
    left: 150%;
}
#portfo {
    left: -150%;
} */