.headers {
	display: flex;
	flex-direction: column;	
	position: relative;
	top: 50%;
}
.header {
	opacity: 1;
    font-family: 'Segoe UI', sans-serif;
    color: #707070;
	font-size: 20pt;
	font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    left: 10px;
    padding: 0px 5px 10px 30px;
    align-items: center;
	left: 0%;
}