/* .content {
    display: flex;
} */

.Professional-Experience {
    opacity: 1;
    font-size: 2.5em;
    font-weight: bold;
    /* position: relative; */
    position: relative;
    left: 10%;
}
.headers {
	display: flex;
	flex-direction: column;	
	position: relative;
    /* top: 100%; */
    justify-content: center;
    top: 50%;
    transform: translate(0%, 20%);
}
.header {
	opacity: 1;
    font-family: 'Segoe UI', sans-serif;
    color: #707070;
	font-size: 2em;
	font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 10px;
    /* padding: 0px 5px 10px 30px; */
    padding: 0% 0% 5% 0%;
    align-items: center;
    left: 0%;
    top: 100%;
    text-decoration: none;
}
.header:hover {
    text-decoration: underline;
}
